body{
    background-color: #fcfcfc;
    font-family: OpenSans, Arial, sans-serif;
    padding-top: 10px;

}
a:hover{
    color: rgb(96, 193, 207);
    text-decoration: none;
}

header{
    display: block;
    background-color: #f4f4f4;
    padding: 1px 10px 1px;
    border-bottom: 1px solid #F2F2F2;
    -moz-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
    -webkit-box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
    box-shadow: 0px 1px 8px rgba(50, 51, 51, 0.15);
    position: fixed;
    width: 96%;
    height: 35px;
    padding: 1px 2% 1px;
    z-index: 3;
    top: 0px;
}


.logo-header img{
    width: 60px;
    float: left;
    margin-top: -6px;

}

.logo-header .brand{
    padding: 0;
    width: auto;
    float: left;
    margin: 15px 5px 0 3px;
    font-size: 23px;
    color: rgb(96, 193, 207);
    font-family: NeoTech;
    display: inline-block;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    line-height: 20px;
}

.logo-header .brand a{
    font-size: 34px;
}

.logo-header a.brand span {
    color: rgb(0, 45, 103);
}

.logo-header .brand a:hover{
    text-decoration: none;
}

.logo-header .brand a:hover span{
    font-size: 17px;
    color: #888;
}

ul.oil-portal{

    float: left;

    margin-left: 2px;
    padding-left: 0px;

}

ul.oil-portal li{
    display: inline-block;
    padding: 14px 18px 9px;
}

ul.oil-portal li:hover{
    background-color: rgba(152, 152, 152, 0.1);
    height: 18px;
    color: #049cdb;
}

ul.oil-portal li a{
    color: #555;
    font-family: OpenSans, Arial, sans-serif;;
    line-height: 20px;
}

ul.oil-portal li a:hover{
    color: rgb(96, 193, 207);
}
/*
ul.oil-portal li.active{
    background-color: #fcfcfc;
    height: 18px;
    box-shadow: 0px 9px 0px -1px #FCFCFC;
}
*/
ul.oil-portal li.active a{
    color: rgb(96, 193, 207);
}

ul.pull-right {
    font-size: 16px;
}

.oil-usr-icon {
    vertical-align: middle;
}

#oil-usr {
    color: #555;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}

#oil-usr:hover {
    color: #555;
}

#oil-nav .dropdown-submenu a:hover{
    color: #fff;
    background-color: #049cdb;
    background-image: none;
}

#oil-nav .dropdown-submenu a:focus{
    color: #fff;
    background-color: #049cdb;
    background-image: none;
}

#oil-nav .dropdown-submenu a:active{
    color: #fff;
    background-color: #049cdb;
    background-image: none;
}

#oil-nav .dropdown-submenu .active a{
    background-color: #049cdb;
}

#oil-nav .dropdown-submenu .active a:focus{
    background-color: #049cdb;
}

#oil-nav .dropdown-submenu li a:hover{
    color: #fff;
    background-color: #049cdb;
    background-image: none;
}

#oil-nav .dropdown-submenu li a:focus{
    color: #fff;
    background-color: #049cdb;
    background-image: none;
}

#oil-nav .dropdown-submenu li a:active{
    color: #fff;
    background-color: #049cdb;
    background-image: none;
}

#oil-nav ul.nav li a img{
    width: 20px;
}

#oil-nav ul.nav li a span{
    box-shadow: none
}

#oil-nav ul.nav li.dropdown.open>.dropdown-toggle, #oil-nav .navbar .nav li.dropdown.active>.dropdown-toggle, #oil-nav .navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background-color: transparent !important;
}

#oil-nav .dropdown-menu>li>a:hover, #oil-nav .dropdown-menu>li>a:focus, #oil-nav .dropdown-submenu:hover>a, #oil-nav .dropdown-submenu:focus>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 45, 103);
    background-image: none !important;
}

#oil-nav ul.dropdown-menu a{
    padding: 10px 20px;
}

#oil-nav .dropdown-menu .divider {
    height: 1px;
    margin: 4px;
}
#oil-nav .dropdown-menu{
    margin-top: -7px;
    -webkit-border: 1px solid rgba(0,0,0,0.1);
    -moz-border: 1px solid rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
    box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
}

#oil-nav ul.nav span.name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    width: 70px;
}

.navbar .nav.pull-right {
    margin-right: -10px;
    margin-left: 0px;
    line-height: 21px;
    height: 40px;
}

.navbar .icon-caret-right {
    position: absolute;
    top: 15px;
    left: 145px;
}

.navbar .pull-left {
    width: 100%;
}

.navbar .dropdown [data-placement="left"]{
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.navbar .dropdown [data-placement="left"] img{
    padding-right: 4px;
}
#wrapper {
    padding-left: 150px;
    transition: all 0.4s ease 0s;
    box-shadow: rgb(211, 211, 211) 0px 0px 10px;
    background-color: white;
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 150px;
    width: 150px;
    float:left;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#content {
    width: 100%;
    min-height: 600px;
    height: 100%;
    top: 40px;
    bottom: 100px;
    right: 3px;
    left: 0px;
    box-shadow: rgb(211, 211, 211) 0px 0px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: scroll;
    font-family: Comfortaa;
}

.sidebar-nav {
    top: 0;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    padding: 15px;
}
.sidebar-nav li a {
    color: #555;
}
.sidebar-nav li a:hover {
    color: rgb(96, 193, 207);
}
.sidebar-nav li.active a {
   color: #0483af;
   text-shadow:1px 1px 1px #FFFFFF;
   font-weight: bold;
}
@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 150px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all 0.4s ease 0s;
    }

}

.table_container .table_header {
    height: 30px;
}
.table-head {

    border: 0;
    border-bottom: 1px solid #dddddd;
}
.table-head thead tr {
    height: 35px;
    color: #0483AF;
}

.table-bordered {

    border-radius: 0px;
}
.table-bordered thead {
    font-weight: bold;
}

.table {
    margin-bottom: 25px;
    margin-top: 0px;
    table-layout: fixed;
}

.scrollable {
    right: 1px;
    left: 0px;
    overflow: hidden;
    top: 68px;
    width: 100%;
    bottom: 30px;
    clear: both;
    margin: 0px 0px 0px;
}
.table_actions {
    height: 23px;
    float: right;
    min-width: 0px;
    margin-bottom: 10px;
}
.table_container .table_header .table_actions a, .table_container .table_header .table_actions button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: inline-block;
    float: none;
    margin-left: 10px;
}
.table_actions .btn {
    top: 0;
    right: 0;
}
.btn {
    display: inline-block;
    padding: 3px 20px 2px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    border-radius: 5px;
}
.btn-blue {
    font-size: 12px;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 134, 181, 0.1);
    border: 1px solid #50BCBC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #56CCCC #56CCCC #50BCBC;
    border-bottom-color: #4BB2B2;
    background-color: #0093C6;
    background-image: none;
}
.sidebar-title {
    border-top-right-radius: 20px !important;
    border-left-style: none !important;
    border-right-style: none !important;
    border-top-color:#0483af !important;
    border-bottom-style: none !important;
    color: #0483af !important;
}

#navtab .nav {
    border-bottom:none
}