<script id="myRegionsTemplate" type="text/html">


    <div id="myRegions">
        <div class="table_container">
            <div class="table_header ">
                <div class="table_actions clearfix">

                    <a href="" class="btn btn-mini  btn-blue btn_action  addNewInf " data-i18n="Add new Infrastructure" data-toggle="modal" data-target="#myModal">Add Infrastructure</a>
                </div>
            </div>

            <table id="table_head" class="table table-bordered table-striped table-header table-head ">
                <thead>
                <tr>
                    <td>Infrastructure ID</td>
                    <td>Type</td>
                    <td>Status</td>
                </tr>
                </thead>
            </table>

            <div class="scrollable">

                <div class="vp">

                    <table id="table_entries" class="table table-without-margins without-borders table-striped table-scrolled ov">
                        <tbody>
                        <%
                        for (var idx = 0; idx < models.length; idx++){
                        var region = models.at(idx);
                        %>

                        <tr id="<%region.toJSON().id%>" data-toggle="collapse" data-target=".<%=region.toJSON().id%>" class="accordion-toggle">
                            <td colspan="3"> <%=region.toJSON().id%>
                            </td>
                            <td colspan="3">
                                <% if(region.toJSON().public=="true") { %>
                                Public
                                <% } else { %>
                                Private
                                <% } %>
                            </td>
                            <td colspan="3">
                                <%=region.regionStatus.get('status')%>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="hiddenRow">
                                <div class="accordion-body <%=region.toJSON().id%> collapse">
                                    <p>Location:</p>
                                    <ul>
                                        <li class="editable"> Latitude: <%=region.get('latitude')%></li>
                                        <li class="editField" data-id="<%=region.toJSON().id%>" style="display: none"> <input type="text"  value="<%=region.get('latitude')%>" ></li>
                                        <li> Longitude: <%=region.get('longitude')%></li>
                                        <li> Country: <%=region.get('country')%></li>
                                    </ul>
                                </div>
                            </td>

                            <td colspan="1" class="hiddenRow">
                                <div class="accordion-body <%=region.toJSON().id%> collapse"><p>Contacts:</p>
                                    <ul>
                                        <li>
                                            <button class="btn-mini btn-basic addContact " data-id="<%=region.toJSON().id%>" >Management</button>
                                        </li>
                                        <li>
                                            <button class="btn-mini btn-basic addContact " data-id="<%=region.toJSON().id%>" >Support</button>
                                        </li>
                                        <li>
                                            <button class="btn-mini btn-basic addContact " data-id="<%=region.toJSON().id%>" >Organization.js</button>
                                        </li>

                                    </ul></div>
                            </td>
                            <td colspan="3" class="hiddenRow">
                                <div class="accordion-body <%=region.toJSON().id%> collapse">
                                    <p>Services:</p>
                                    <ul>



                                        <%  var endpoints = region.get('endpoints');
                                        for(var edx = 0; edx < endpoints.length; edx++) {   %>
                                        <li><%=endpoints[edx].toJSON().name%>: <%=endpoints[edx].toJSON().url%> </li>

                                        <%}%>

                                    </ul>
                                </div>
                            </td>
                            <td colspan="3" class="hiddenRow">
                                <div class="accordion-body <%=region.toJSON().id%> collapse">
                                    <div><p>Actions:</p>
                                        <ul>
                                            <li>
                                                <button class="btn-mini btn-basic addEndpoint " data-id="<%=region.toJSON().id%>" data-toggle="modal" data-target="#myModal">Add Service</button>

                                            </li>
                                            <li>
                                                <button class="btn-mini btn-success editRegion " data-id="<%=region.toJSON().id%>" data-toggle="modal" data-target="#myModal">Edit Region</button>
                                            </li>
                                            <li>

                                                <button class="btn-mini btn-danger deleteRegion" data-id="<%=region.toJSON().id%>">Delete Region</button>
                                            </li>
                                        </ul>


                                    </div>
                                </div>
                            </td>
                        </tr>
                        <%
                        }
                        %>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="modal fade qotmodal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"></div>
    </div>
</script>
