<script id="nodeDetailsTemplate" type="text/html">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> Infrastructure Details</h4>
            </div>

            <div class="modal-body">
                <div id="nodeDetails" class="qot">
                    <div class="item">
                         <div class="inner">

                              <div class="form-group">
                                <h6>Please enter your node location:</h6>
                                <div class="control-group familyfont">
                                    <label class="familyfont" for="nodeCountry">Country ISO Code</label>
                                    <input id="nodeCountry" type="text" name="nodeCountry" class="tab-left">

                                </div>
                                 <div class="control-group familyfont">
                                     <label class="familyfont" for="nodeLatitude">Latitude </label>
                                     <input id="nodeLatitude" type="text" name="nodeLatitude" class="tab-left">
                                 </div>
                                <div class="control-group familyfont">
                                     <label class="familyfont" for="nodeLongitude">Longitude</label>
                                     <input id="nodeLongitude" type="text" name="nodeLongitude" class="tab-left">
                                </div>
                             </div>

                         </div>


                    </div>


            </div>
            <div class="modal-footer">
                    <button type="button" id="validSupForm" class="btn btn-blue step"  >Continue</button>
            </div>
                </div>
            </div>
        </div>
</script>