<script id="publicPrivateNode" type="text/html">

    <div class="modal-dialog">
        <div class="modal-content">

            <div  class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"> Infrastructure Details</h4>
            </div>

            <div class="modal-body">
                <div id="pubpriv" class="qot">
                    <div class="item">
                        <div class="inner">

                            <h6>Do you plan to make your node publicly available? </h6>
                            <div id="chooseyourdestiny" class="btn-group">
                                <button type="button" id="publicYes" class="btn btn-success " >Yes</button>
                                <button type="button" id="publicNo" class="btn btn-danger "  >No</button>
                            </div>
                            <br>
                            <div id="privateParts" style="display: none">

                                <h6>Choose an ID for your node: </h6>
                                <input type="text" id="regionName">
                                <br>
                                <h6> Add Tenants you will provide access for</h6>
                                <button id="addMember" type="button"class="btn  btn-success">Add Member</button>
                                <div id="members">

                                </div>
                                <br>
                                <button id="submitPrivate" type="button" class="btn btn-blue">Submit</button>
                            </div>
                            </div>
                          </div>
                        </div>

                </div>
            <div class="modal-footer">
                <button type="button" id="validSupForm" class="btn btn-blue step" disabled >Continue</button>
            </div>
                </div>

            </div>
        </div>
    </div>
</script>