<script id="setupInfTemplate" type="text/html">
    <!--
    Description: QOT page. User is already logged in.
    src: registrationWF/qot.html
    -->
    <div id='setupInf' class="qot">

    <div id="toolboxdiv">
        <p>
            For automated installation of the XIFI Federation Layer please download the XIFI Infrastructure Toolbox
        </p>

        <a href="#setupInfrastructure" id="dlToolboxLink">Download the XIFI Infrastructure Toolbox</a> <br> <br>

        <p>
            Create ToolBox configuration file
        </p>
        <a href="#setupInfrastructure" id="dlConfigFile">Download your Toolbox Configuration File</a> <br> <br>
        <p>
            An Installation Guide is provided under
        </p>
        <a href="#setupInfrastructure" id="toolboxManual"> Toolbox Installation Guide</a>
    </div>
        <br><br><br>
        <div id="keyrockdiv">
            <p>
               To enable federated identity management please download and install the KeyRock Proxy
            </p>

            <a href="#setupInfrastructure" id="dlKeyrockLink">Download the KeyRock Proxy </a> <br> <br>

            <p>
                An Installation Guide is provided under
            </p>
            <a href="#setupInfrastructure" id="keyrockManual"> KeyRock Proxy Installation Guide</a>
        </div>

        <button class="btn btn-primary commitResults" > Installation Successful</button>
    </div>

</script>