<script id="technicalComplianceTemplate" type="text/html">
<div id="technicalCompliant">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Technical Compliance</h4>
            </div>
            <div class="modal-body">
<div class="item">
	<div class="inner">
		<h3>Technically Compliant node</h3>
		<li>
			<p2>There are two node groups avalibile:</p2>
			<dl id="aboutMasterDetail" class="dl-horizontal">
				<dt>Master Node</dt>
					<dd>DNS server, Backup services, Hypervisor, cloud controller, XIFI Federation software, Generic Enabler repository, , minimum Network connection 10Gig.</dd>
				<dt>Slave Node</dt>
					<dd>Hypervisor, cloud controller, XIFI Federation software, public IP, minimum Network connection 1Gig. </dd>
			</dl>
		</li><br class="clear">
		<br class="clear">
		<br class="clear">
		<div class="checkbox">
			<label><input id="checkTechnical" type="checkbox" name="checkTechnica">Is your organisation technically compliant to the requirements set out in the XIFI terms</label></div>
			<br class="clear">

	</div>
</div>
        </div>
            <div class="modal-footer">
                <button type="button" id="btnagree3" class="btn btn-blue step" disabled >Continue</button>
            </div>
        </div>
    </div>
</div>
</script>