
@font-face {
  font-family: 'NeoTech';
  font-style: normal;
  font-weight: normal;
  src: local('Neo Tech'), local('NeoTech'),
    url("neotech-regular-webfont.otf") format("truetype");
}
@font-face {
    font-family: "Comfortaa";
    src: url(comfortaa_regular-webfont.ttf) format("truetype");
    src: url(comfortaa_regular-webfont.svg);
    src: url(comfortaa_regular-webfont.eot);
    src: url(comfortaa_regular-webfont.woff)
}