<script id="remoteTestTemplate" type="text/html">
<!--
Description: QOT page. User is already logged in.
src: registrationWF/qot.html
-->
<div id='remoteTests' class="qot">
<h3>Waiting for Approval</h3>
<table
<thead>
	<th>Infrastructure ID</th>
	<th>Owner</th>
	<th>Initiate Test</th>
	<th>Remote Test Result</th>
</thead>
<tbody class="table table-without-margins without-borders table-striped table-scrolled ov">
<%
	for (var registrationModelidx in models){
		%>
			<tr>
				<td> <%=models[registrationModelidx].id%>
				</td>
				<td>
					<%=
					models[registrationModelidx].attributes.owner.name%>
				</td>
				<td><button class="btn btn-primary remoteTest" data-toggle="modal" data-target="#myModal">
				 Test</button></td>
				<td><%=
					models[registrationModelidx].attributes.remoteTestResult%></td>
			</tr>
		<%
	}
%>
</tbody>
</table>
</div>
