<script id="remoteTestDetailsTemplate" type="text/html">
<!--
Description: QOT page. User is already logged in.
src: registrationWF/qot.html
-->
<div id='remoteTestDetails' class="qot">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Testing</h4>
      </div>
      <div class="modal-body">
      	<ul>
      		<li>Testing Connectivity</li>  
      			<li> <div class="span6" id="connectionBar">
        <div>
            <div class="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
      			</li>
      		<li>Testing DCRM functionality</li><li>
      			 <div class="span6" id="dcrmBar" >
        <div>
            <div class="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
      			
      		</li>  
      		<li>Testing Authentication/Authorization</li><li>
      			 <div class="span6" id="authBar" >
        <div>
            <div class="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
      			
      		</li>   
      		<li>Testing PaaS functionality</li><li>
      			 <div class="span6" id="paasBar" >
        <div>
            <div class="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
      			
      		</li>  
      		<li>Testing SDC</li><li>
      			 <div class="span6" id="sdcBar" >
        <div>
            <div class="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
        </div>
    </div>
      			
      		</li>      
     	</ul>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</div>


</script>