/**************MENU TOOLBAR 20PX*************/

[class="arrow-down-"],   [class*="arrow-down-"] {
  width: 20px;
  height: 10px;
  background-image: url("img/arrow-down.png");
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  margin-right: .3em;
}

.arrow-down-settings { background-position: -1px -45px; }

.arrow-down-settings:hover { background-position: -1px -45px; }

.dropdown-toggle{
    position: absolute !important; ;
    display: block !important;
    padding: 0px 0px 0px 13px !important;
    width: 20px;
    height: 10px;
}