<script id="legalComplianceTemplate" type="text/html">
	<!--
	Description: QOT page. User is already logged in.
	src: registrationWF/qot.html
	-->
	<div id='legalCompliance' class="qot">
	<div class="item active"><div class="inner">
		<h4>Legally Compliant node</h4>
		This Standard Service Agreement (SSA) shows the text of the contract between the XIFI Federation and
	new member. Upon receiving these agreements, one copy should be signed and returned the XIFI consortium.
	Overview of Legal notes:<br class="clear">
		<li>
		<p5>Article 1 - Definitions</p5><br class="clear">
			<div class="tab-left">XIFI Federation:  Is the deployment and management of multiple external and internal cloud computing </div>
			<div class="tab-left">services to match business needs.
				<div class="tab-left">Member:  A legal entity that has entered into the XIFI Federation.</div>
				<div class="tab-left">Client:  A legal entity that wants to join the XIFI Federation.</div>
			</div>
		</li>
		<br class="clear">
		<li>
		<p5>Article 2 - Memorandum of Understanding</p5>
		<br class="clear">
			<div class="tab-left">The joining client will complete and conform to XIFI Memorandum of Understanding.</div>
		</li>
		<br class="clear">
		<li>
		<p2>Article 3 - Acceptable Usage Policy</p2>
		<br class="clear">
		<div class="tab-left">The joining client adheres to the Acceptable Usage Policy (AUP) that sets out the measures to provide a high </div>
		<div class="tab-left">quality, reliable service to Platform users, protect privacy and security of users, infrastructures and networks,</div>
		<div class="tab-left">encourage responsible usage of the Platform resources and comply with relevant legislation. </div>
		</li>
		<br class="clear">
	<!--	<button type="button" data-toggle="modal" href="#legalModal" class="btn btn-primary">Find out more</button> -->
		<br class="clear">
		<div class="checkbox">
			<label><input id="checkLegal" type="checkbox" name="checkLega">Is your organisation Legally compliant to the requirements set out in XIFI terms</label></div>
			<br class="clear">
			<button id="btnagree1"  rel="tooltip" title="Please accept the terms" class="tab-right right btn btn-primary" disabled>Continue</button>
			<br class="clear">
			<a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Tooltip on top">								</a>
			<a id="acceptedlegal" data-slide="next" href="#carousel-apply" class="bottombtn"></a>
			</div>
		</div>
	</div>

</script>