<script id="operationalComplianceTemplate" type="text/html">
	<!--
	Description: QOT page. User is already logged in.
	src: registrationWF/qot.html
	-->
	<div id='operationalCompliance' class="qot">
	<div class="item">
		<div class="inner">
		<h4>Operationally Compliant node</h4>This Standard Service Agreement (SSA) shows the text of the contract between the XIFI Federation and 
new member. Upon receiving these agreements, one copy should be signed and returned the XIFI consortium. 
Overview of Legal notes:<br class="clear"><br class="clear">
	<li>
		<p5>Service Level Agreement</p5>
		<br class="clear">
		<div class="tab-left">A service level agreement (SLA) will be written up for the each client. It outlines the XIFI Federation </div>
		<div class="tab-left">procedures used to process requests and problems that are reported. It will contain the following information.</div>
		</li>
		<br class="clear">
		<li>
			<p2>Operational XIFI Federation software</p2>
			<br class="clear"><div class="tab-left">The joining XIFI node will host and have fully operationally XIFI Data Center Resource Management (DCRM)  instance,</div>
			<div class="tab-left">and a functional federated  monitoring and network adapters installed.  An operational XIFI node should have the </div>
			<div class="tab-left">availably of Backup and Recovery services.</div>
		</li><br class="clear">
		<br class="clear"><br class="clear"><br class="clear">
		<div class="checkbox">
			<label><input id="checkOper" type="checkbox" name="checkOp">Is your organisation Operationally compliant to the requirements set out in Xifi terms</label>
		</div><br class="clear">
		<button id="btnagree2"  class="tab-right right btn btn-primary" disabled="">Continue</button>
		<a id="acceptedoper" data-slide="next" href="#carousel-apply"></a></div></div>
	</div>

</script>