<script id="qotTemplate" type="text/html">
<!--
Description: QOT page. User is already logged in.
src: registrationWF/qot.html
-->
<div id='qot' class="qot">
	
	<p>
		The Future Internet (FI) is an emerging, open, communications infrastructure, which supports more services and applications and is better coupled to users and the physical world. The Future Internet Public Private Partnership (FI-PPP: www.fi-ppp.eu) initiative aims to promote FI adoption by supporting the development of a common platform supporting large-scale trials running on a wide range of FI infrastructure.
</p>
<p>
The XIFI project addresses the infrastructure element of this initiative by paving the way for a unified European market for FI facilities enabling commercial exploitation. The creation of a sustainable pan-European open federation of test infrastructures is a key milestone, overcoming the current fragmentation of European infrastructure into isolated test beds that are individually unable to support large-scale trials, and opening the way for widespread and replicable commercial exploitation of FI services and applications.
	</p>
<a href="#qot" id="startSurvey">Start the survey</a>	
</div>


</script>