<script id="setupInfTemplate" type="text/html">
<!--
Description: QOT page. User is already logged in.
src: registrationWF/qot.html
-->
<div id='setupInf' class="qot">
<p>
For automated installation of the XIFI Federation Layer please download the XIFI Infrastructure Toolbox
</p>

<a href="#setupInfrastructure" id="dlToolboxLink">Download the XIFI Infrastructure Toolbox</a> <br> <br>
<p>
An Installation Guide is provided under
</p>
<a href="#setupInfrastructure" id="toolboxManual"> Toolbox Installation Guide</a>	
</div>


</script>