<script id="technicalComplianceTemplate" type="text/html">
<div id="technicalCompliant">
<div class="item">
	<div class="inner">
		<h4>Technically Compliant node</h4>
		<li>
			<p2>There are two node groups avalibile:</p2>
			<dl id="aboutMasterDetail" class="dl-horizontal">
				<dt>Master Node</dt>
					<dd>DNS server, Backup services, Hypervisor, cloud controller, XIFI Federation software, Generic Enabler repository, , minimum Network connection 10Gig.</dd>
				<dt>Slave Node</dt>
					<dd>Hypervisor, cloud controller, XIFI Federation software, public IP, minimum Network connection 1Gig. </dd>
			</dl>
		</li><br class="clear">
		<br class="clear">
		<br class="clear">
		<div class="checkbox">
			<label><input id="checkTechnical" type="checkbox" name="checkTechnica">Is your organisation Operationally compliant to the requirements set out in the XIFI terms</label></div>
			<br class="clear">
		<div class="app"><button id="btnagree3"  rel="tooltip" title="Please accept the terms" class="tab-right right btn btn-primary" disabled="">Proceed</button>
			<a id="s3"></a>
		</div>
	</div>
</div>
</div>
</script>